repos:
- repo: https://github.com/astral-sh/uv-pre-commit
  rev: 0.9.18
  hooks:
  - id: uv-lock

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.10
  hooks:
  - id: ruff
    args: [ --fix ]
    types_or: [ python, pyi ]

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: check-merge-conflict
  - id: mixed-line-ending
